<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header-bar"></div>

<div class="wrapper">

    <p th:text="${story.title}" class="page-title"></p>

    <div class="main-content">

        <th:block th:each="chapter : ${story.chapterList}">
            <a th:href="@{'/postcraft/postview/' + ${chapter.id}}">
                <table class="display-individual-content">
                    <tr>
                        <td class="title_in_list" th:text="${chapter.title}" colspan="2"></td>
                    </tr>
                    <tr>
                        <td th:text="${chapter.description}" colspan="2" class="description"></td>
                    </tr>
                    <tr>
                        <td class="left-cell">World:</td>
                        <td th:text="${chapter.story.world.title}"></td>
                    </tr>
                    <tr>
                        <td class="left-cell">Story:</td>
                        <td th:text="${chapter.story.title}"></td>
                    </tr>
                    <tr>
                        <td class="left-cell">Tags:</td>
                        <td>
                            <span th:each="tag : ${chapter.tags}" th:text="'#' + ${tag.name} + ' '"></span>
                            <span th:each="tag : ${chapter.story.tags}" th:text="'#' + ${tag.name} + ' '"></span>
                            <span th:each="tag : ${chapter.story.world.tags}" th:text="'#' + ${tag.name} + ' '"></span>
                        </td>
                    </tr>
                </table>
            </a>
        </th:block>
    </div>
</div>

</body>
</html>