<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: header-bar"></div>

    <div class="wrapper">

    <form method="post" action="/storycraft/storyhub">
        <label>Title</label>
        <span class="error" th:errors="${story.title}"></span>
        <br>
        <input th:field="${story.title}" class="text-input">
        <br>

        <label th:for="world">World</label>
        <br>
        <select name="worldId">
            <option th:each="world : ${worlds}"
                    th:text="${world.title}"
                    th:value="${world.id}"></option>
        </select>
        <br>

        <label>Description</label>
        <span class="error" th:errors="${story.description}"></span>
        <br>
        <textarea th:field="${story.description}"></textarea>
        <br>

        <label th:for="tags">Tags:</label>
        <br>
        <th:block th:each="tag : ${tags}">
            <input type="checkbox" name="tags" th:value="${tag.id}">
            <label th:text="${tag.name}"></label>
        </th:block>
        <br>
        <a th:href="@{'/tagcraft/add-tag'}">Add Tags</a>

        <br><br>
        <input type="submit" value="Create New Story">
    </form>

    </div>

    <div class="wrapper">

        <h1>All Stories</h1>

        <div class="main-content">

            <th:block th:each="story : ${stories}">
                <a th:href="@{/storycraft/storyview(column=story, value=${story.title})}">
                    <table class="display-individual-content">
                        <tr>
                            <td class="title_in_list" th:text="${story.title}" colspan="2"></td>
                        </tr>
                        <tr>
                            <td th:text="${story.description}" colspan="2" class="description"></td>
                        </tr>
                        <tr>
                            <td class="left-cell">World:</td>
                            <td th:text="${story.world.title}"></td>
                        </tr>
                        <tr>
                            <td class="left-cell">Tags:</td>
                            <td>
                                <span th:each="tag : ${story.tags}" th:text="'#' + ${tag.name} + ' '"></span>
                            </td>
                        </tr>
                    </table>
                </a>

            </th:block>

        </div>

    </div>
</body>
</html>