* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

.title_in_list {
    font-size: 25px;
}

.header-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    height: 25 px;
    font-size: 95%;
    background-color: deepskyblue;
}

.header-bar a {
    text-decoration: none;
    display: block;
    color: white;
    padding-top: 0em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: .5em;
}

.header-bar a:hover {
    background: #1565c0;
}

.text-input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

textarea {
    width: 75%;
    height: 100px;
    padding 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: initial;
}

input[type=submit] {
    width: 50%;
    background-color: deepskyblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1565c0;
}

hr {
    border: 2px solid deepskyblue;
}

.post-textarea {
    width: 75%;
    padding 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: initial;
    height: 500px !important;
}

select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.error {
    color: red;
}

.main-content {
    background-color: AliceBlue;
    width: 75%;
    height: 100%;
}

.display-individual-content {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    background-color: GhostWhite;
    border-style: solid;
    border-color: deepskyblue;
    border-width: 2px;
    width: 100%;
}

.wrapper {
    padding: 25px;
    border-style: solid;
    border-color: deepskyblue;
    border-width: 5px;
}

h1 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    text-align: center;
}

.spacer {
    border: 1px solid #1565c0;
}

.left-cell {
    width: 10%;
}

.right-cell {

}