<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>

    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <title>Writer's Hub</title>
</head>
<body>

    <ul th:fragment="header-bar" class="header-bar">
        <li>Hello User!</li>
        <li><a href="/register">Register</a> </li>
        <li><a href="/login">Log in</a> </li>
        <li><a href="/logout">Log out</a> </li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li><a href="/">Home</a></li>
        <li><a href="/worldcraft/worldhub">Worlds</a></li>
        <li><a href="/storycraft/storyhub">Stories</a></li>
        <li><a href="/postcraft/posthub">Chapters</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/search2">Test Search</a></li>
    </ul>

</body>
</html>