<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>

    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <title>Writer's Hub</title>
</head>
<body>

    <ul th:fragment="header-bar" class="header-bar">
        <li>Hello User!</li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Worlds</a></li>
        <li><a href="#">Stories</a></li>
        <li><a href="postcraft/post">Chapters</a></li>
    </ul>

</body>
</html>