<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
    <div th:replace="fragments :: header-bar"></div>

    <div class="wrapper">

        <h1>All Chapters</h1>

        <div class="main-content">

            <th:block th:each="chapter : ${chapters}">
                <table class="display-individual-content">
                    <tr>
                        <td class="title_in_list" th:text="${chapter.title}" colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="left-cell">World:</td>
                        <td th:text="${chapter.story.world.title}"></td>
                    </tr>
                    <tr>
                        <td class="left-cell">Story:</td>
                        <td th:text="${chapter.story.title}" class="right-cell"></td>
                    </tr>
                    <tr>
                        <td th:text="${chapter.description}" colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="left-cell">Tags:</td>
                        <td class="right-cell">
                            <span  th:each="tag : ${tags}" th:text="'#' + ${tag.name} + ' '"></span>
                        </td>
                    </tr>
                </table>

            </th:block>

        </div>

    </div>

</body>
</html>