<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{mainlayout.html}">
<head>
    <title>Register</title>
</head>
<body>
<div class="main-content" layout:fragment="content">

    <form method="post">
        <div>
            <label>Username
                <input th:field="${registerFormDTO.username}" class="text-input" />
            </label>
            <p class="error" th:errors="${registerFormDTO.username}"></p>
        </div>

        <div>
            <label>Password
                <input th:field="${registerFormDTO.password}" type="password" class="text-input" />
            </label>
            <p class="error" th:errors="${registerFormDTO.password}"></p>
        </div>

        <div>
            <label>Verify Password
                <input th:field="${registerFormDTO.verifyPassword}" type="password" class="text-input" />
            </label>
        </div>

        <input type="submit" value="Register" class="hub-button"/>

    </form>

</div>

</body>
</html>