<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header-bar"></div>

<form action="/search" method="post">
    <h2>Search by:</h2>

    <p>
        <span th:each="type : ${types}">
            <input
                    type="radio"
                    name="searchType"
                    th:id="${type.key}"
                    th:value="${type.key}"
                    th:checked="${type.key == 'title'}" />
            <label th:for="${type.key}" th:text="${type.value}"></label>
        </span>
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" class="text-input" />
    </p>

    <input type="submit" value="Search" class="hub-button" />
</form>

<hr />

<ul>
    <th:block th:each="chapter : ${chapters}">
        <li class="title_in_list" th:text="${chapter.title}"></li>
    </th:block>
</ul>

</body>
</html>