<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: header-bar"></div>
<h1>Create Tag</h1>

<form method="post" action="/tagcraft/add-tag">

    <label th:for="name"></label>
    <span class="error" th:errors="${tag.name}"></span>
    <br>
    <input th:field="${tag.name}" />

    <input type="submit" value="Add Tag">
</form>

<hr>

<ul>
    <th:block th:each="tag : ${tags}">
        <li th:text="${tag.name}"></li>
    </th:block>
</ul>

</body>
</html>