<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header-bar"></div>

<div class="wrapper container">


    <h2 class="text-center" th:text="${chapter.title}"></h2>
    <div class="row" style="">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <pre th:text="${chapter.content}" style="white-space: pre-wrap;"></pre>  <!-- TODO Get this to wrap text without breaking words  -->
        </div>
    </div>


</div>

</body>
</html>