<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: header-bar"></div>
<h1>Create Post</h1>

<form method="post" action="/postcraft/post">
    <label>Title</label><br>
    <input type="text" name="title">
    <br>
    <label th:for="story">Story</label>
    <br>
    <select name="storyId">
        <option th:each="story : ${stories}"
                th:text="${story.title}"
                th:value="${story.id}"></option>
    </select>
    <br>
    <label>Post</label>
    <br>
    <input class="post-textarea" type="textarea" name="content">
    <br>
    <input type="submit" value="Post">
</form>

</body>
</html>