<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: header-bar"></div>

    <div class="wrapper">

        <p class="page-title">All Chapters</p>

        <div class="main-content">

            <th:block th:each="chapter : ${chapters}">

                    <table class="display-individual-content">

                        <tr>
                            <td class="title_in_list" th:text="${chapter.title}" colspan="2"></td>
                        </tr>

                        <tr>
                            <td th:text="${chapter.description}" colspan="2" class="description"></td>
                        </tr>
                        <tr>
                            <td class="left-cell">World:</td>
                            <td th:text="${chapter.story.world.title}"></td>
                        </tr>
                        <tr>
                            <td class="left-cell">Story:</td>
                            <td th:text="${chapter.story.title}"></td>
                        </tr>
                        <tr>
                            <td class="left-cell">Tags:</td>
                            <td>
                                <span th:each="tag : ${chapter.tags}" th:text="'#' + ${tag.name} + ' '"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span>
                                    <a th:href="@{'/postcraft/postview/' + ${chapter.id}}">View Chapter</a>
                                </span>
                                <span>
                                    <form method="post" action="/postcraft/posthub">
                                        <input type="radio" name="chapterId" th:value="${chapter.id}">
                                        <input type="submit" value="Delete">
                                    </form>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <input>

            </th:block>

        </div>

    </div>

</body>
</html>