<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: header-bar"></div>


    <div class="container bg-warning">
        <div class=" text-center mt-5 mb-3 ">
            <h2>All Chapters:</h2>
            <h5>Click the corresponding button to view, edit, or delete</h5>
            <h5>Or <a href="/postcraft/post">Create New Post</a></h5>
        </div>

        <th:block th:each="chapter : ${chapters}">
            <div class="span8">
                <a th:href="@{'/postcraft/postview/' + ${chapter.id}}">
                    <h1 th:text="${chapter.title}">Default chapter name</h1>
                    <p th:text="${chapter.description}">Default chapter description</p>
                </a>

                <hr>
                <div>
                    <p th:text="'World:   ' + ${chapter.story.world.title}">If you can see this paragraph, something messed up.</p>
                    <p th:text="'Story:   ' + ${chapter.story.title}">If you can see this paragraph, something messed up.</p>
                </div>

                <div class="tags">
                    <span class="btn-info" th:each="tag : ${chapter.tags}" th:text="'#' + ${tag.name} + ' '"></span>
                    <span class="btn-info" th:each="tag : ${chapter.story.tags}" th:text="'#' + ${tag.name} + ' '"></span>
                    <span class="btn-info" th:each="tag : ${chapter.story.world.tags}" th:text="'#' + ${tag.name} + ' '"></span>
                </div>
            </div>

            <table>
                <tr>
                    <td>
                        <form method="get" th:action="@{'/postcraft/postview/' + ${chapter.id}}">
                            <input type="submit" value="View Post" class="hub-button">
                        </form>
                    </td>
                    <td>
                        <form method="get" th:action="@{'/postcraft/edit/' + ${chapter.id}}">
                            <input type="submit" value="Edit" class="hub-button">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/postcraft/posthub">
                            <input type="hidden" name="buttonFunction" value="delete">
                            <input type="hidden" name="chapterId" th:value="${chapter.id}">
                            <input type="submit" value="Delete" class="hub-button">
                        </form>
                    </td>
                </tr>
            </table>

            <div class="clear"></div>

            <hr style="height: 50px;">
        </th:block>

    </div>

</body>
</html>