<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: header-bar"></div>
<h1>Create Post</h1>

<form method="post" action="/postcraft/post">
    <label>Title</label>
    <span class="error" th:errors="${chapter.title}"></span>
    <br>
    <input th:field="${chapter.title}" class="text-input">
    <br>

    <label th:for="story">Story</label>
    <br>
    <select name="storyId">
        <option th:each="story : ${stories}"
                th:text="${story.title}"
                th:value="${story.id}"></option>
    </select>
    <br>

    <label>Description</label>
    <span class="error" th:errors="${chapter.description}"></span>
    <br>
    <textarea th:field="${chapter.description}"></textarea>
    <br>


    <label>Post</label>
    <span class="error" th:errors="${chapter.content}"></span>
    <br>
    <textarea class="post-textarea" th:field="${chapter.content}">
    </textarea>
    <br>

    <label th:for="tags">Tags:</label>
    <br>
    <th:block th:each="tag : ${tags}">
        <input type="checkbox" name="tags" th:value="${tag.id}">
        <label th:text="${tag.name}"></label>
    </th:block>
    <br>
    <a th:href="@{'/tagcraft/add-tag'}">Add Tags</a>

    <br><br>

    <input type="submit" value="Post">
</form>

</body>
</html>