<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header-bar"></div>

<!-- TODO let user tab between create and view -->
<!-- TODO add an about button that the user can hover over to see info about how to use this page -->
<!-- TODO add edit and delete capability to worlds and stories -->

<!-- Form section -->
<div class="bg-info">
    <div class="container mb-3">
        <div class=" text-center mt-5 mb-3 ">

            <h1 >World Hub</h1>
            <h5>Use this form to create a new world or scroll down to see a list of previously created worlds</h5>


        </div>


        <div class="row ">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">

                        <div class = "container">
                            <form id="contact-form" role="form" method="post" action="/worldcraft/worldhub">



                                <div class="controls">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_name">World Name</label>
                                                <input th:field="${world.title}" id="form_name" type="text" name="name" class="form-control" placeholder="Enter the name of your world" required="required" data-error="World Name is required.">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="form_message">Description</label>
                                                <textarea th:field="${world.description}" id="form_message" name="message" class="form-control" placeholder="Write a description of this world" rows="2"></textarea>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Select tags or click 'Add Tags' to create more</label>
                                                    <div>
                                                        <th:block th:each="tag : ${tags}">
                                                            <input type="checkbox" name="tags" th:value="${tag.id}">
                                                            <label th:text="${tag.name}"></label>
                                                        </th:block>
                                                        <br>
                                                        <a th:href="@{'/tagcraft/add-tag'}">Add Tags</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-12 mb-3 pb-3">

                                            <input type="submit" class="btn btn-success btn-send  pt-2 btn-block pb-2
                            " value="Create World" style="margin-bottom:20px" >

                                        </div>

                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>


                </div>
                <!-- /.8 -->

            </div>
            <!-- /.row-->

        </div>
    </div>
</div>

<!-- List Section-->
<div class="container bg-warning">
    <div class=" text-center mt-5 mb-3 ">
        <h2 >All Worlds:</h2>
        <h5>Click on any world to see all stories set in it</h5>
    </div>

    <th:block th:each="world : ${worlds}">
        <div class="span8">
            <a th:href="@{'/worldcraft/worldview/' + ${world.id}}">
                <h1 th:text="${world.title}">Default world name</h1>
                <p th:text="${world.description}">Default world description</p>
            </a>

                <div class="tags">
                    <span class="btn-info" th:each="tag : ${world.tags}" th:text="'#' + ${tag.name} + ' '"></span>
                </div>
            </div>
            <div class="clear"></div>
            <hr style="height: 50px;">
        </div>
    </th:block>
</div>



</body>
</html>