<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header-bar"></div>

<div class="wrapper">

<form method="post" action="/worldcraft/worldhub">
    <label>Title</label>
    <span class="error" th:errors="${world.title}"></span>
    <br>
    <input th:field="${world.title}" class="text-input">
    <br>

    <label>Description</label>
    <span class="error" th:errors="${world.description}"></span>
    <br>
    <textarea th:field="${world.description}"></textarea>
    <br>

    <label th:for="tags">Tags:</label>
    <br>
    <th:block th:each="tag : ${tags}">
        <input type="checkbox" name="tags" th:value="${tag.id}">
        <label th:text="${tag.name}"></label>
    </th:block>
    <br>
    <a th:href="@{'/tagcraft/add-tag'}">Add Tags</a>

    <br><br>

    <input type="submit" value="Create New World">
</form>
</div>

<div class="wrapper">

    <p class="page-title">All Worlds</p>

    <div class="main-content">

        <th:block th:each="world : ${worlds}">
            <a th:href="@{/worldcraft/worldview(column=world, value=${world.title})}">
                <table class="display-individual-content">
                    <tr>
                        <td class="title_in_list" th:text="${world.title}" colspan="2"></td>
                    </tr>
                    <tr>
                        <td th:text="${world.description}" colspan="2" class="description"></td>
                    </tr>
                    <tr>
                        <td class="left-cell">Tags:</td>
                        <td>
                            <span th:each="tag : ${world.tags}" th:text="'#' + ${tag.name} + ' '"></span>
                        </td>
                    </tr>
                </table>
            </a>
        </th:block>

    </div>

</div>
</body>
</html>